<div class="page">

    <div class="slider_container">

        <div class="slider_item">
            <img [src]="images[currentSlide].url" alt="{{images[currentSlide].title}}" class="slide_img">

            <div id="indicators">
                @for(img of images; track $index){
                <div class="indicator" (click)="jumpToSlide($index)" [ngClass]="{active: $index==currentSlide}">
                </div>
                }
            </div>

            <!-- <a (click)="jumpToFood(images[currentSlide].title)" class="pizza_names">
                {{ images[currentSlide].title }} <span>➭</span>
            </a> -->
        </div>

        <button class="previousBtn" (click)="previous()">↫</button>
        <button class="nextBtn" (click)="next()">↬</button>

    </div>

    <div class="slider-text">
        <div class="product-info">
            <h2>On Sale!</h2>
            <p>{{ images[currentSlide].title }}</p>
            <div class="ingredients">
                <span class="sale">
                    {{images[currentSlide].price+20 | currency : '€'}}
                </span>
                <span style="color: red;">
                    {{images[currentSlide].price | currency : '€'}}
                </span>
                <!-- {{ images[currentSlide].price }} -->
            </div>

            <button class="arrow-btn" (click)="jumpToFood(images[currentSlide].title)">
                Explore <span class="arrow">➜</span>
            </button>
        </div>
    </div>


</div>