<div class="page">

    <div class="slider_container" style="border: 1px solid blue;">

        <div class="slider_item">
            <img [src]="images[currentSlide].url" alt="{{images[currentSlide].title}}" class="slide_img">

            <div id="indicators">
                @for(img of images; track $index){
                <div class="indicator" (click)="jumpToSlide($index)" [ngClass]="{active: $index==currentSlide}">
                </div>
                }
            </div>

            <a (click)="jumpToFood(images[currentSlide].title)" class="pizza_names">
                {{ images[currentSlide].title }} <span>➭</span>
            </a>
        </div>

        <button class="previousBtn" (click)="previous()">↫</button>
        <button class="nextBtn" (click)="next()">↬</button>

    </div>

    <div style="border: 1px solid red;">
        <p>
            lalalalalaaaaaaaaaaaaaaaaaaaaaaalalalalalaaaaaaaaaaaaaaaaaaaaaaalalalalalaaaaaaaaaaaaaaaaaaaaaaa
            lalalalalaaaaaaaaaaaaaaaaaaaaaaalalalalalaaaaaaaaaaaaaaaaaaaaaaalalalalalaaaaaaaaaaaaaaaaaaaaaaa
            lalalalalaaaaaaaaaaaaaaaaaaaaaaalalalalalaaaaaaaaaaaaaaaaaaaaaaalalalalalaaaaaaaaaaaaaaaaaaaaaaa
        </p>
    </div>
</div>