<table>
    <tr>
        <td colspan="6">
            <h3>Order Items</h3>
        </td>
    </tr>
    <tr *ngFor="let item of order.items">
        <td>
            <a routerLink="/food/{{item.food.id}}">
                <img [src]="item.food.imageUrl" alt="{{item.food.name}}">
            </a>
        </td>
        <td class="text">
            <a routerLink="/food/{{item.food.id}}">
                {{item.food.name}}
            </a>
        </td>
        <td>
            {{item.food.price | currency: '€'}}
        </td>
        <td>
            x
        </td>
        <td>
            {{item.quantity}}
        </td>
        <td>
            {{item.price | currency: '€'}}
        </td>
    </tr>
    <tr class="total">
        <td colspan="6">
            <h2>Total: &nbsp; {{order.totalPrice | currency: '€'}}</h2>
        </td>
    </tr>
</table>
