table{
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 0.5rem;
}

h2{
    float: left;
}

h3{
    margin-top: 0.5rem;
    color: rgb(150, 150, 150);
}

a:hover{
    opacity: 0.9;
}

td{
    padding: 0.5rem 2.5rem;
}

td img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 0.3rem;
}

a{
    text-decoration: none;
}

.total{
    font-size: 0.9rem;
}