<header>
    <div class="container">
        <div class="category">
            <div class="menu-container">
                <a routerLink="/dashboard">☰</a>
                <div class="menu">
                    <li routerLink="/deals">Deals</li>
                    <li routerLink="/pizzas">Pizzas</li>
                    <li routerLink="/drinks">Drinks</li>
                </div>
            </div>

            <a class="logo" routerLink="/">Pizza</a>
        </div>

        

        <app-search></app-search>

        <nav>
            <ul>
                <li class="order">
                    <a routerLink="/order">Order!</a>
                </li>
                
                <li>
                    <a routerLink="/login">Log In</a>
                </li>
                <li>
                    <a routerLink="/contact">Contact</a>
                </li>
                <!-- <li class="menu-container">
                    <a routerLink="/dashboard">John</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a>Log Out</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span>3</span>
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>
</header>
