<header>
    <div class="container">
        <a class="logo" (click)="onSelect('/')">UniBookie</a>

        <div class="navi">
            <a class="navi__child" (click)="onSelect('/')">Home</a>
            <a class="navi__child" (click)="onSelect('sales')">Sales</a>
            <a class="navi__child" (click)="onSelect('eeng')">Electronics Eng.</a>
            <a class="navi__child" (click)="onSelect('cs')">CS</a>
            <a class="navi__child" (click)="onSelect('meng')">Mechanical Eng.</a>
            <a class="navi__child" (click)="onSelect('teng')">Telecoms Eng.</a>
        </div>

        <div class="search">
            <app-search></app-search>
        </div>

        <nav>
            <ul>
                <li class="menu-container" *ngIf="user.token">
                    <label class="username">{{user.name}}</label>
                    <div class="menu">
                        <a (click)="onSelect('all-orders')">Your Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li *ngIf="!user.token">
                    <a class="login" (click)="onSelect('login-page')">Order Now!</a>
                </li>
                <li>
                    <a (click)="onSelect('cart-page')">
                      Cart <span *ngIf="!(cart.totalCount === 0)">{{cart.totalCount}}</span>
                    </a>
                  </li>
                <li>
                    <a (click)="onSelect('contact')">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
