<div class="container">
    <div class="details">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-container">
                <label>Email</label>
                <div>
                    <input type="email" placeholder="example@gmail.com" formControlName="email" />
                </div>
            </div>
            <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                <div *ngIf="fc.email.errors.required">Should not be empty</div>
                <div *ngIf="fc.email.errors.email">Email is not correct</div>
            </div>

            <div class="input-container">
                <label>Password</label>
                <div>
                    <input type="password" placeholder="example1234" formControlName="password" />
                </div>
            </div>
            <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                <div *ngIf="fc.password.errors.required">Should not be empty</div>
            </div>
            
            <div class="button">
                <button type="submit" (click)="submit()">Login</button>
            </div>

            <div class="register">
                New user? &nbsp;
                <a routerLink="/register-page" [queryParams]="{returnUrl: returnUrl}">Register here</a>
            </div>
        </form>
    </div>
</div>
