.page{
  align-items: center;
  padding: 0;
  margin: 2rem 7rem;
}

.products{
  margin-top: 5rem;
}

h2{
  font-family: Poppins, sans-serif;
  text-align: center;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a{
  height: 20rem;
  width: 17rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  text-decoration: none;
  font-family: Poppins;
}

li a:hover{
  opacity: 0.8;
  cursor: pointer;
}
 
li a img{
  object-fit: cover;
  height: 14rem;
}

.content{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 9rem;
}

.price{
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  background: white;
  padding: 0.5rem 100% 0.5rem 0;
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1rem;
  margin-top: 1rem;
} 

.ingredients{
  color: #7e7e7e;
  font-size: 12px;
  margin-top: 0.4rem;
}

.label {
  display: inline-flex;
  align-items: center;
}

.meat{
  font-size: 1rem;
  padding: 0 0.3rem;
}