<div class="page">
  <div *ngIf="food" class="container">

    <img [src]="food.imageUrl" [alt]="food.name"/>
    
    <div class="details">

      <span class="name">
        {{food.name}}
      </span>
      
      <span class="ingredients" *ngIf="food.ingredients !== null ? ' ':'' ">
        {{food.ingredients}}
      </span>

      <div class="price prices-order">
        <span *ngIf="!food.tag.includes('sales')">
            {{food.price | currency : '€'}}
        </span>
        <div *ngIf="food.tag.includes('sales')">
            <span class="sale">
                {{food.price+20 | currency : '€'}}
            </span>
            <span style="color: red;">
                {{food.price | currency : '€'}}
            </span>
        </div>
      </div>

      <button (click)="addToCart()">Add To Cart</button>
  
    </div>
  </div>
</div>
