.container{
  display: flex;
  justify-content: center;
  font-family: Poppins, sans-serif;
}

.content{
  width: 60rem;
}

.button{
  display: flex;
  justify-content: center;
}

button{
  padding: 1rem;
  color: white;
  background:#07b31e;
  width: auto;
  border-radius: 1rem;
  opacity: 0.7;
  outline: none;
  border: none;
  font-size: 1.1rem;
  width: 20rem;
  margin: 1rem 0;
  transition: font-size 0.1s ease-in-out;
}

button:active{
  font-size: 1rem;
}

button:hover{
  opacity: 1;
  cursor: pointer;
}

input{
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgba(181, 181, 181, 0.406);
  padding: 1rem;
  font-size: 1rem;
  width: 28rem;
  font-family: Poppins, sans-serif;
}

.input-container{
  margin: 2rem 0;
}

.form_children{
  padding: 0 2rem;
}

.error-list{
  color: red;
  margin-right: 10rem;
}

.form_top, input{
  display: flex; 
	justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_bottom{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset{
  border: 1px solid #07b31e;
  border-radius: 5px;
  width: 50%;
}

.radio{
  display: flex;
  flex-direction: row;
}

.radio input{
  width: 5%;
  margin-bottom: 4px;
}

.radio label{
  width: 100%;
  padding: 12px;
}

input:hover, label:hover{
  cursor: pointer;
}